<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BerkleyUpdateCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BerkleyUpdateCreator.Properties.Settings>
            <setting name="TypeTimeMappings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>PB DSU{$*$}15:30 - 15:45</string>
                        <string>PB DSU + Refinement{$*$}15:30 - 17:30</string>
                        <string>PB DSU + Retro{$*$}15:00 - 16:00</string>
                        <string>PB DSU + Sprint Planning + Refinement{$*$}15:00 - 17:30</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="JiraTicketChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </BerkleyUpdateCreator.Properties.Settings>
    </userSettings>
</configuration>